<div class="row-about">
	<!-- First Column -->
	<div class="col-md-5">
		<h3 class="title">ABOUT<br/><span>MODERNe MANILA</span></h3>
		<p><i>Moderne Manila is an online resource of contemporary art galleries, cafes and watering holes in Manila. It features maps and the best ways to navigate around the city. It is also an online resource for international artist who wants to travel to the Philippines interested in featuring and selling their work. The website is created to encourage the contemporary art scene in Manila and an online resource to see what's new and exciting in Manila.</i></p>
	</div>
					
	<!-- Second  Column -->
	<div class="col-md-7 centered animate-fadeInRight" >
		<%= image_tag('paintings.jpg', :size => "300x400", :alt => "paintings") %>
	</div>
</div> <!-- end of row -->