<!-- CONTACTS SECTION -->

	<section id="contacts" class="dark">
		<div class="container">	
			<div class="col-md-5">
				
				<!-- Contacts -->
				<div id="info">
					<h1 >GET IN <br/><span>TOUCH</span></h1>
					
					<!-- Contact 1 -->
					<p>If you like this website and you wish to have your own, say hello!</p>
					<h6><span class= "glyphicon glyphicon-phone" aria-hidden = "true"></span><a href="skype:hola.ahnita?call" id="skype" title="" data-original-title="Call Ahnita">  hola.ahnita</a></h6>
					
					
					<!-- Contact 2 -->
					<h6><span class= "glyphicon glyphicon-envelope" aria-hidden = "true"></span><a href="mailto:ahn.bustamante@gmail.com?Subject=Hello%20Ahnita!" target="_top" title="" id="emailahnita">  ahn@ahnbustamante.com</a></h6>
					
					<!-- Contact 3 -->
					<h6><span class= "glyphicon glyphicon-map-marker" aria-hidden = "true"></span>  Makati, Philippines</h6>
					
				</div><!-- End Contacts -->
			</div>

			<div class="col-md-7" >
			
				<!-- Contact Form -->
				<form action="mail.php" method="post" class="animate-fadeIn">
				
					<!-- Name -->
					<div class="col-md-6">
						<input type="text" name="name" class="form-control" id="firstname" placeholder="Enter your name">
					</div>
					
					<!-- Email -->
					<div class="col-md-6">
						<input type="text" name="email" class="form-control" id="email" placeholder="Enter your e-mail">
					</div>

					<!-- Message -->
					<div class="col-md-12">
						<textarea rows="10" cols="45" name="mess" class="form-control" id="message"  placeholder="Your message"></textarea>
					</div>
					
					<!-- Send -->
					<p><input class="button" type="submit" value="SEND LETTER"></p>
				</form><!-- End Contact Form -->
			</div>
		</div>
	</section>