<!-- HEADER INTRO -->
<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
				
<section class="intro-page" style="height:200px; margin-top:100px !important; background:#8b806c">
    <div class="container">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3" style="text-align:center; padding: 0 35px">
				
			<!-- Page Title -->
			<div class="page-title">
				<h4>Galleries</h4>
				<p>Contemporary art galleries within Metro Manila</p>
			</div>
				
		</div>
	</div>
</section> 

<!-- PORTFOLIO -->

<section id="portfolio-page">
	<div  class="container" >
		<div class="row">
			<div class="fotorama">
  				<img src="http://s.fotorama.io/1.jpg">
  				<img src="http://s.fotorama.io/2.jpg">
  				<img src="https://instagram.com/p/9VenUeBnXY">
  				<%= image_tag "paintings.jpg", :size => "100%x400", :alt => "paintings" %>
			</div>

				
		</div>
	</div>
</section>