	
<!-- HEADER INTRO -->	
	
    <section class="intro">
		 <div class="intro-small">
			<h3 class="animate-fadeInDown">YOUR <span>Moderne Manila</span> YOUR SMART GUIDE IN HACKING THE CITY </h3>
		 </div>
        <div class="intro-body">
            <div class="container">
				
				<!-- Carousel Navigation-->
				<div class="customNavigation">
					<a class="prev-header"> <i class="fa fa-chevron-left"></i> </a>
					<a class="next-header"><i class="fa fa-chevron-right"></i></a>
				</div>
            
				<div class="row">
					<!-- Start Carousel -->
					<div id="owl-demo-header" class="owl-carousel">
					
						<!-- Slide 1 -->
						<div class="item">
							<div class="col-lg-10 " >
								<h3 class="animate-fadeInDown" ><span>MODERNe MANILA</span> YOUR SMART GUIDE IN HACKING THE CITY</h3>
								<p class="intro-text animate-fadeInDown">Explore Manila better. Avoid traffic jams and find out the best way to move around the city.</p>
								<div class="button-more">
									<p class="left animate-fadeInUp delay-0-5"><a href="#about" class="more">READ MORE</a></p> 
								</div>
							</div>
						</div><!-- End Slide 1 -->

						<!-- Slide 2 -->
						<div class="item">
							<div class="col-lg-10 " >
								<h3 class="animate-fadeInDown" >EXPLORE <span>THE MAPS</span> VISIT GALLERIES, FIND PLACES OF INTEREST</h3>
								<p class="intro-text animate-fadeInDown">Get smart and creative ideas. Rainy days are not so lonely anymore. Be inspired and visit art galleries. Saw an inspiring art piece for your condo? Get in touch with the galleries yourself.
								</p>
								<div class="button-more">
									<p class="left animate-fadeInUp delay-0-5"><a href="#plan" class="more">GET STARTED</a></p> 
								</div>
							</div>
						</div><!-- End Slide 2-->
					</div><!-- End Carousel-->
					
				</div>
            </div>
        </div>
    </section> 
	

<!-- ABOUT SECTION -->
	
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
					<!-- First Column -->
					<div class="col-md-3">
						<h1 class="title">ABOUT<br/><span>MODERNe MANILA</span></h1>
						<p><i>Moderne Manila is an online resource of contemporary art galleries, cafes and watering holes in Manila. It features maps and the best ways to navigate around the city. It is also an online resource for international artist who wants to travel to the Philippines interested in featuring and selling their work. The website is created to encourage the contemporary art scene in Manila and an online resource to see what's new and exciting in Manila. We know we have a rich culture. But it's also great to see how much it has evolved in the past 10 years. Check out what's hip and what's hot!</i></p>
					</div>
					
					<!-- Second  Column -->
				<div class="col-md-9 centered animate-fadeInRight " >
						<img id= "paintings" src="images/paintings.jpg" alt="paintings">
				</div>
				
			</div>
		</div>
	</section>

<!-- HOW WE WORK SECTION -->
	
	<section >
		<div class="container" id="plan">
			<div class="row">
				
				<!-- Image Left -->
				<div class="col-lg-8 how animate-fadeInLeft">
					<img src="images/citymap.jpg" alt="citymap">
				</div>
				
				
				<!-- Content Right -->
				<div class="col-lg-4">
					
					<!-- Title -->
					<h1 class="title">PLAN YOUR<br/><span>TRIP</span></h1>
					
					<!-- Start Carousel -->
					<div id="owl-demo" class="owl-carousel">
						
						<!-- Step 1 -->
						<div class="item">
							<h4>STEP 1</h4>
							<p>Identify which galleries interests you.</p>		
						</div>
				
						<!-- Step 2 -->
						<div class="item">
							<h4>STEP 2</h4>
							<p>Check Gallery website and check for ongoing exhibitions.</p>		
						</div>
				
						<!-- Step 3 -->
						<div class="item">
							<h4>STEP 3</h4>
							<p>Plan itinerary. Check transport directions and commute routes.</p>		
						</div>
					</div><!-- End Carousel -->
					
					
					<!-- Carousel Navigation-->
					<div class="customNavigation">
						<a class="prev"> &lt;  </a>
						<a class="next"> &gt; </a>
					</div>
					
				</div>				
			</div>
		</div>
	</section>

<!-- CONTENT SECTION -->
	
	<section  id="Content"  class="dark centered">
		<div  class="container">
			
			<!-- Block 1 -->
			<div class="col-md-4 light">
				<div class="animate-flipInX ">
					<i class="fa fa-thumbs-o-up"></i>
					<h4>GALLERIES</h4>
					<p>Over 20 contemporary art galleries featuring local and international artists. Get in touch with the marketing team and know if they have exhibitions ongoing.</p>
				</div>
			</div>
			
			<!-- Block 2 -->
			<div class="col-md-4 shadow" >
				<div class="animate-flipInX delay-0-5">
					<i class="fa fa-anchor"></i>
					<h4>MAPS </h4>
					<p>Better navigation, transport maps, bus routes and tips to move around. </p>
				</div>
			</div>
			
			<!-- Block 3 -->
			<div class="col-md-4 light">
				<div class="animate-flipInX delay-1">
					<i class="fa fa-gift"></i>
					<h4>TRAIN PASSES AND MOBILE KIT</h4>
					<p>Get a prepaid sim card and train passes to navigate around the city with ease. Get them at the airport and mall kiosks. If you want everything in one package, we can send them to your hotel.</p>
				</div>
			</div>
			
		</div>	
	</section>			
	
<!-- RESENT NEWS SECTION -->
	
	<section id="news">
		<div class="container">
			<div  class="row ">
				<div class="col-lg-12 " >
					
					<!-- Title -->
					<h1 class="title left">CURRENT<br/><span>EXHIBITS</span></h1>
					
					<!-- Carousel Navigation-->
					<div class="customNavigation">
						<a class="prev-post"> &lt;  </a>
						<a class="next-post"> &gt; </a>
					</div>
					
				</div>
				
				<!-- Posts -->
				<div class="col-lg-12 " >
					
					<!-- Start Carousel -->
					<div id="owl-demo-post" class="owl-carousel">
					
						<!-- Post 1 -->
						<div class="item ">
							<div class="thumb-resent">
								<img src="images/blog/post1.jpg" alt="">
							</div>
							<p>Nam liber tempor soluta nobis congue nihil imperdiet doming id quod facer possim assum.</p>
							<p><a href="single.html" class="more">MORE</a></p>
						</div>
				
						<!-- Post 2 -->
						<div class="item">
							<div class="thumb-resent">
								<img src="images/blog/post2.jpg" alt="">
							</div>
							<p>Nam liber tempor soluta nobis congue nihil imperdiet doming id quod facer possim assum.</p>
							<p><a href="single.html" class="more">MORE</a></p>
						</div>
				
						<!-- Post 3 -->
						<div class="item">
							<div class="thumb-resent">
								<img src="images/blog/post3.jpg" alt="">
							</div>
							<p>Nam liber tempor soluta nobis congue nihil imperdiet doming id quod facer possim assum.</p>
							<p><a href="single.html" class="more">MORE</a></p>
						</div>
						
						<!-- Post 4 -->
						<div class="item">
							<div class="thumb-resent">
								<img src="images/blog/post4.jpg" alt="">
							</div>
							<p>Nam liber tempor soluta nobis congue nihil imperdiet doming id quod facer possim assum.</p>
							<p><a href="single.html" class="more">MORE</a></p>
						</div>
						
						<!-- Post 5 -->
						<div class="item">
							<div class="thumb-resent">
								<img src="images/blog/post5.jpg" alt="">
							</div>
							<p>Nam liber tempor soluta nobis congue nihil imperdiet doming id quod facer possim assum.</p>
							<p><a href="single.html" class="more">MORE</a></p>
						</div>
						
					</div><!-- End Carousel -->
				</div><!-- End Posts -->
			</div>
		</div>
	</section>
			
		
<!-- QUOTE SECTION -->
		
	<section id="quote" class="dark centered">
		<div class="container">
			<div  class="row" >
				<h1><i class="fa fa-quote-left"></i></h1>
				<p>"The best way to hack a city is to observe. The best way to avoid annoyance is planning."</p>
				<span>Ahn Bustamante</span>
			</div>
		</div>
	</section>
	
<!-- Galleries SECTION -->
	
	<section id="Galleries">
		<div class="container">
			<div class="row ">
			
				<!-- Title -->
				<div class="col-lg-3">
					<h1 class="title">ART<br/><span>GALLERIES</span></h1>
					<p><i></i></p>
					<p ><a href="galleries.html" class="more">MORE</a></p>
				</div>
				
				<!-- Project 1 -->
				<div class="col-lg-3 work">
					<a data-rel="prettyPhoto" href="images/underground.jpg" >
						<img src="images/underground.jpg" alt="Underground">
						<span class="zooom"></span>
					</a>
				</div>
				
				<!-- Project 2 -->
				<div class="col-lg-3 work">
					<a data-rel="prettyPhoto" href="images/assets/nova art gallery/nova art gallery.png" >
						<img src="images/assets/nova art gallery/nova art gallery.png" alt="Nova Gallery">
						<span class="zooom"></span>
					</a>
				</div>
				
				<!-- Project 3 -->
				<div class="col-lg-3 work">
					<a data-rel="prettyPhoto" href="images/assets/art underground/artunderground.png" >
						<img src="images/assets/art underground/artunderground.png" alt="Art Underground">
						<span class="zooom"></span>
					</a>
				</div>	
				
			</div>
			

