<section class="intro">
	<div class="intro-small">
		<h3 class="animate-fadeInDown">YOUR <span>Moderne Manila</span> YOUR SMART GUIDE IN HACKING THE CITY </h3>
	</div>
    <div class ="intro-mainpage">
	<h3><span>MODERNe MANILA</span> YOUR SMART GUIDE IN HACKING THE CITY</h3>
	<p>Explore Manila better. Avoid traffic jams and find out the best way to move around the city.</p>
		<div class="button-more">
			<p class="left animate-fadeInUp delay-0-5"><a href="#about" class="more">READ MORE</a></p> 
		</div>		
   	</div>     		

</section>



