 <section class="intro">
		 <div class="intro-small">
			<h3 class="animate-fadeInDown">YOUR <span>Moderne Manila</span> YOUR SMART GUIDE IN HACKING THE CITY </h3>
		 </div>
        <div class="intro-body">
            <div class="container">
				
				<!-- Carousel Navigation-->
				<div class="customNavigation">
					<a class="prev-header"> <i class="fa fa-chevron-left"></i> </a>
					<a class="next-header"><i class="fa fa-chevron-right"></i></a>
				</div>
            
				<div class="row">
					<!-- Start Carousel -->
					<div id="owl-demo-header" class="owl-carousel">
					
						<!-- Slide 1 -->
						<div class="item">
							<div class="col-lg-10 " >
								<h3 class="animate-fadeInDown" ><span>MODERNe MANILA</span> YOUR SMART GUIDE IN HACKING THE CITY</h3>
								<p class="intro-text animate-fadeInDown">Explore Manila better. Avoid traffic jams and find out the best way to move around the city.</p>
								<div class="button-more">
									<p class="left animate-fadeInUp delay-0-5"><a href="#about" class="more">READ MORE</a></p> 
								</div>
							</div>
						</div><!-- End Slide 1 -->

						<!-- Slide 2 -->
						<div class="item">
							<div class="col-lg-10 " >
								<h3 class="animate-fadeInDown" >EXPLORE <span>THE MAPS</span> VISIT GALLERIES, FIND PLACES OF INTEREST</h3>
								<p class="intro-text animate-fadeInDown">Get smart and creative ideas. Rainy days are not so lonely anymore. Be inspired and visit art galleries. Saw an inspiring art piece for your condo? Get in touch with the galleries yourself.
								</p>
								<div class="button-more">
									<p class="left animate-fadeInUp delay-0-5"><a href="#plan" class="more">GET STARTED</a></p> 
								</div>
							</div>
						</div><!-- End Slide 2-->
					</div><!-- End Carousel-->
					
				</div>
            </div>
        </div>
    </section> 