<!-- HEADER INTRO -->
				
    <section class="intro-page" style="height:200px; margin-top:100px !important; background:#8b806c">
        <div class="container">
			<div class="header-icon">
				<i class="fa fa-quote-left"></i>
			</div>
			<div class="col-md-offset-3 col-md-6 col-md-offset-3" style="text-align:center; padding: 0 35px">
				
				<!-- Page Title -->
				<div class="page-title">
					<h4>MODERN <span>MANILA </span>MAP</h4>
					<p>Get familiar with what's nearest you, navigate around the city and get to your destination faster and guides to effectively use the map.</p>
				</div>
				
			</div>
		</div>
	</section> 

<!-- MAP COLUMN -->
<map>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=zF9Svr0wvs1g.kujcZDi4gPjw" width = 90% height="480"></iframe>
</map>