<div class = "row">
<%= image_tag "citymap.jpg", :size => "100%x300", :alt => "City Map" %>
                
</div>

<div class = "row">
<%= image_tag "cafe.jpg", :size => "100%x300", :alt => "Cafe" %>
</div>

<div class = "row">
<%= image_tag "cheers.jpg", :size => "100%x300", :alt => "Watering Holes" %>
</div>